:root{
    --theme-blue : #2390f6;
    --theme-blue-dark : #125491;
    --theme-purple: #7334df;
    --gray-text: grey;
    --title-text: #162C4F;
}

*, *:before *:after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

.list-page{
    display: flex;
    list-style: none;
}

.list-page ul{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

.list-page li a{
    text-decoration: none;
    color: black;
}

.pointer{
    cursor: pointer;
}

.capitalize{
    text-transform: capitalize;
}

.welcome-page{
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button{
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    background-color: var(--theme-blue);
    cursor: pointer;
}



.button :hover{
    background-color: var(--theme-blue-dark);
}

